
<%= render partial: 'shared/time_stats', locals: {time: @product.created_at} %>

<%#username %>
<% unless @bidders.empty? %>
 <%= render 'shared/bidder' unless @bidders.blank?%>
<% end %>
<div class="bid_limits">
	bid increment
	<%=  
		text_success_money(@product.minimum_increment)
	%>

	minimum bid
	<%=  
		text_success_money(@product.minimum_bid)
	%>
	maximum bid
<%=  
	text_success_money(@product.maximum_bid)
	%>
</div>
<% unless @highest_bid.blank? %>
		highest bid
		<%= text_success_money @highest_bid %>
<% end %>
<% unless @number_of_bid.blank? %>
	<span id="number_of_bids">
		<%= pluralize @number_of_bids, 'bid' %>
	</span>
<% end %>

<%= simple_form_for @bid , url: bids_create_path, validate: true, method: :post  do |f| %>
	<%= f.error_notification %>
<%#-<%= form_errors_for(:bid) %>	

	<div class="form-inputs">
		<%= f.input_field :bidded, input_html: {value: nil}, error: "check minimum value", 
			class: 'form-control', min: @product.minimum_bid, max: @product.maximum_bid%>
	</div>
	<div class="form-inputs">
		<%= f.hidden_field :product_id, value: @product.id %>
	</div>
	<div class="form-actions">
		<%= f.button :submit %>
	</div>
<% end %>

