<ul class="search-list">

<% @searches.each do |search| %>
	<li>
		
		<%= link_to(search.name, product_path(search)) %>
		<br>
		 <span class="back-to">
				<%= link_to(request.referer, url_for(:back)) %>
		 </span>
		<br>
			<%= search.description %>
			<br>
			
	</li>
	
	<% end %>
<%= @searches.size %> returned

</ul>
<ul class="search-list">
	<%= render partial: 'searches/search',  collection: @searches%>
</ul>

