<%= simple_form_for(@product, html:{multipart: true}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
		<span class="bids">
		<%= f.input :minimum_bid,class: 'form-control '%>
		</span>
		<span class="bids">
    <%= f.input :maximum_bid, class: 'form-control' %>
		</span>
    <%= f.input :description, class: 'form-control' %>
    <%= f.input :name, class: 'form-control' %>
		<span class="selection">
			<%= f.input :category, collection:["Jewellery",'Misc'], class: 'selection' %>
		</span>
		<%= f.input :expiration,  as: :datepicker%>
  </div>
		<%= f.simple_fields_for :post_attachments do |p| %>
			<div class="form-inputs">
				<%=f.file_field :image, multiple: true, 
				name: "product_attachments[image][]", class: 'btn btn-primary' %>
			</div>
			<% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
