<div class="col-md-6">
<div class="photo-box rounded">
	<p>
  <%=  image_tag @product.image %>
	</p>
</div>
</div>
<div class="col-md-6 rounded">
<p>
  <span class="product-header doubleUnderline">Minimum bid:
</span>
  <span class="product-header" >
		&nbsp&nbsp&nbsp <span class="mark">
		<%= @product.minimum_bid %>
		</span>
</span>
</p>

<p>
<span class="product-header doubleUnderline">
	Maximum bid:
</span>
  <span class="product-header" >
  	&nbsp&nbsp&nbsp 
		<span class="mark">
			<%= @product.maximum_bid %>
		</span>

</span>
</p>

<p class="product-description">
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>User:</strong>
  <%= @product.user_id %>
</p>
</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
