	<ul class="product-list">
		<li>
			<h1>
				<%= link_to @product.name, product_path(@product) %>
			</h1>
		</li>
		<li class="photo-box">
			<%# image_tag @product.images %>
				<%= render @product_attachments %>
		</li>
		<li class="product-description">
			 <%= @product.description %>
		</li>
		<li>
				<%= render  'shared/bid_stats', locals: {product: @product} %>
		</li>
		<li>
			<%= link_to 'Edit', edit_product_path(@product) %> |
			<%unless has_bids?(@product)%>
				<%= link_to 'Delete', product_path(@product), method: :delete%> |
				<% end %>
			<%= link_to 'Back', products_path %> | 
			<span class="text-success">
			 <%= link_to 'Watch', watch_path(@product.id) %>
			</span>
		</li>
	</ul>








